@charset "UTF-8";

/*===== Подключения =====*/

/* Миксин для шрифтов */

/* Миксин для адаптивного шривта */

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,600,700,800,900,&display=swap");

body {
  font-family: "Poppins";
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

body.lock {
  overflow: hidden;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.title {
  font-family: "Poppins";
  font-weight: bold;
  line-height: auto;
  color: #22343D;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.text {
  font-family: "Poppins";
  font-weight: normal;
  line-height: auto;
  color: #22343D;
}

.btn {
  font-family: "Poppins";
  font-weight: bold;
  line-height: auto;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 40px;
  background-color: #02897A;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.micro-title {
  font-family: "Poppins";
  font-weight: 600;
  line-height: auto;
  color: #22343D;
}

.header {
  font-family: "Poppins";
  padding: 20px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__list li {
  margin-right: 25px;
}

.menu__link {
  font-size: 16px;
  font-weight: normal;
  color: #22343D;
  text-decoration: none;
}

.menu__link:hover {
  font-weight: normal;
  color: #22343D;
  opacity: 0.8;
}

.menu__btn-1 {
  padding: 10px 25px;
  color: #22343D;
  background-color: #ffffff;
  border: 1px solid #02897A;
  border-radius: 5px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.menu__btn-1:hover {
  padding: 10px 25px;
  color: #ffffff;
  background-color: #02897A;
}

.menu__btn-2 {
  padding: 10px 25px;
  color: #ffffff;
  background-color: #02897A;
  border: 1px solid #02897A;
  border-radius: 5px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.menu__btn-2:hover {
  padding: 10px 25px;
  color: #22343D;
  background-color: #ffffff;
}

/*===== Меню Бургер =====*/

.menu__icon {
  display: none;
}

.icon-menu {
  width: 33px;
  height: 33px;
  cursor: pointer;
  padding: 10px;
}

.icon-menu .burger-brick {
  height: 4px;
  background: #fff;
  margin-top: 5px;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.icon-menu._active .burger-brick:first-child {
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
  margin-top: 14px;
}

.icon-menu._active .burger-brick:last-child {
  -webkit-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  transform: rotate(-405deg);
  margin-top: -14px;
}

.icon-menu._active .middle {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 50px;
  margin-bottom: 122px;
}

.footer a {
  font-family: "Poppins";
  font-weight: normal;
  color: #22343D;
  text-decoration: none;
}

.footer a:hover {
  opacity: 0.7;
}

.footer__logo-wrapper {
  width: 162px;
  margin-bottom: 35px;
}

.footer__logo img {
  margin-bottom: 25px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__social a {
  font-size: 22px;
  color: #02897A;
  padding: 5px;
  background-color: #EDFFFC;
  border-radius: 10px;
}

.footer__social a:hover {
  opacity: 0.7;
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 778px;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.footer__list {
  list-style: none;
}

.footer__list li {
  margin-bottom: 15px;
}

.footer__list-header {
  margin-bottom: 15px;
}

.footer__list-header a {
  font-family: "Poppins";
  font-weight: 500;
  line-height: auto;
  color: #22343D;
}

.footer__sign-up {
  max-width: 260px;
}

.footer__sign-up h4 {
  font-family: "Poppins";
  font-weight: 500;
  line-height: auto;
  color: #22343D;
  margin-top: 14px;
}

.footer__input {
  display: block;
  padding: 10px 20px;
  width: 260px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}

.block {
  display: none;
  padding: 35px;
  border-radius: 5px;
  background-color: #EDFFFC;
  width: 320px;
}

.block__item {
  margin: 0 0 20px 0;
}

.block__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 0px 0px 0px 30px;
  cursor: pointer;
  text-align: center;
}

.block__title::before,
.block__title::after {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  background-color: #000;
  top: 12px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.block__title::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.block__title::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 8px;
}

.block__text {
  display: none;
  padding: 10px 0px 0px 0px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.block__item.active .block__text {
  display: block;
  text-align: center;
}

.block__item.active .block__title::before {
  background-color: red;
}

.block__item.active .block__title::after {
  background-color: red;
}

.block__item.active .block__title::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.block__item.active .block__title::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 50;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
}

.popup__content {
  background-color: #EDFFFC;
  color: #000;
  padding: 110px 100px 70px 100px;
  max-width: 800px;
  position: relative;
  border-radius: 10px;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
}

.popup__email-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.popup__email-wrapper label {
  margin-bottom: 5px;
}

.popup__password-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.popup__password-wrapper label {
  margin-bottom: 5px;
}

.popup__password-conf-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.popup__password-conf-wrapper label {
  margin-bottom: 5px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.popup:last-child .popup__content {
  max-width: 100%;
  padding: 0px;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: inline-block;
}

.icon-home:before {
  content: "\e900";
}

.icon-phone:before {
  content: "\e942";
}

.icon-mail:before {
  content: "\e945";
}

.icon-location:before {
  content: "\e947";
}

.icon-bubble:before {
  content: "\e96b";
}

.icon-bubbles4:before {
  content: "\e970";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-wrench:before {
  content: "\e991";
}

.icon-cog:before {
  content: "\e994";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-heart:before {
  content: "\e9da";
}

.icon-cancel-circle:before {
  content: "\ea0d";
}

.icon-arrow-up-left2:before {
  content: "\ea39";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-up-right2:before {
  content: "\ea3b";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-down-right2:before {
  content: "\ea3d";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}

.icon-arrow-down-left2:before {
  content: "\ea3f";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-google:before {
  content: "\ea88";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-google-plus2:before {
  content: "\ea8c";
}

.icon-facebook:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-vk:before {
  content: "\ea98";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-linkedin:before {
  content: "\eaca";
}

/*===== Основные стили =====*/

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 50px 0;
  position: relative;
  margin-bottom: 120px;
}

.promo__text-wrapper {
  max-width: 460px;
  position: relative;
  z-index: 1;
}

.promo__title {
  margin-bottom: 20px;
}

.promo__text {
  margin-bottom: 45px;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.promo__text._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.promo__btn {
  margin-right: 30px;
  margin-bottom: 25px;
  text-transform: none;
  display: inline-block;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.promo__btn._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.promo__popup {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #02897A;
  background-color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.promo__popup:hover {
  opacity: 0.8;
}

.promo__popup._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.promo__img-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description {
  text-align: center;
  margin-bottom: 150px;
  padding-bottom: 90px;
}

.description__title {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.description__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description__item {
  max-width: 200px;
  margin-bottom: 35px;
  text-align: left;
}

.description__item h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.description__img {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.description__img._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.description .icon-1 {
  background-color: #02897A;
}

.description .icon-2 {
  background-color: #4D8DFF;
}

.description .icon-3 {
  background-color: #740A76;
}

.description .icon-4 {
  background-color: #F03E3D;
}

.description__img {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description__img img {
  margin-top: 17px;
}

.description__btn {
  text-align: center;
  text-transform: uppercase;
}

.menegment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
  position: relative;
}

.menegment__text-wrapper {
  max-width: 486px;
  position: relative;
  z-index: 1;
}

.menegment__micro-title {
  margin-bottom: 10px;
}

.menegment__title {
  margin-bottom: 25px;
}

.menegment__text {
  margin-bottom: 30px;
}

.menegment h4 {
  margin-bottom: 10px;
}

.menegment__img-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 150px;
}

.customer__img-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.customer__text-wrapper {
  position: relative;
  max-width: 486px;
  z-index: 1;
}

.customer__micro-title {
  margin-bottom: 10px;
}

.customer__title {
  margin-bottom: 25px;
}

.customer__text {
  margin-bottom: 30px;
}

.customer__text-alt {
  margin-bottom: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer__text-alt::before {
  content: "🗸";
  font-weight: bold;
  color: #ffffff;
  margin-right: 30px;
  padding: 10px 15px;
  background-color: #FF9900;
  border-radius: 15px;
}

.customer__text-altnt1::before {
  background-color: #FF9900;
}

.customer__text-alt.nt2::before {
  background-color: #F03E3D;
}

.customer__text-alt.nt3::before {
  background-color: #4D8DFF;
}

.collaborative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
  position: relative;
}

.collaborative__text-wrapper {
  max-width: 486px;
  position: relative;
  z-index: 1;
}

.collaborative__micro-title {
  margin-bottom: 10px;
}

.collaborative__title {
  margin-bottom: 25px;
}

.collaborative__text {
  margin-bottom: 30px;
}

.collaborative__img-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.experts {
  text-align: center;
  margin-bottom: 150px;
}

.experts__title {
  margin-bottom: 15px;
}

.experts__text {
  margin-bottom: 32px;
}

.experts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 55px;
}

.experts__item {
  width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experts__item img {
  border-radius: 50%;
}

.experts__can {
  display: block;
  max-width: 274px;
  margin-bottom: 30px;
  padding: 15px 25px;
  -webkit-box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
          box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
  border-radius: 26.5px;
}

.experts__btn {
  display: inline-block;
  margin: 0 auto;
}

.strategy {
  margin-bottom: 150px;
  -webkit-transform: translate(-120%, 0%);
      -ms-transform: translate(-120%, 0%);
          transform: translate(-120%, 0%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.strategy._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.strategy__title {
  margin-bottom: 10px;
}

.strategy__text {
  margin-bottom: 30px;
}

.strategy__swiper-wrapper {
  margin-bottom: 64px;
  width: 600px;
}

.strategy__swiper-slide {
  max-width: 348px;
  border-radius: 8px;
}

.strategy__swiper-slide a {
  font-family: "Poppins";
  font-weight: bold;
  text-decoration: none;
  line-height: auto;
  color: #22343D;
}

.strategy__swiper-slide a:hover {
  color: #02897A;
}

.strategy__swiper-slide a:active {
  color: #02897A;
}

.strategy__swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #02897A;
}

.price {
  margin-bottom: 150px;
}

.price__title {
  margin-bottom: 10px;
  text-align: center;
}

.price__text {
  margin-bottom: 50px;
  text-align: center;
}

.price__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price__card {
  width: 320px;
  text-align: center;
  color: #22343D;
  padding-bottom: 32px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 25px;
  -webkit-transform: translate(-120%, 0%);
      -ms-transform: translate(-120%, 0%);
          transform: translate(-120%, 0%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.price__card h4 {
  font-size: 24px;
  font-weight: bold;
}

.price__card span {
  font-size: 76px;
  font-weight: bold;
  color: #02897A;
  line-height: 100px;
  position: relative;
}

.price__card span sup {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.price__card span sub {
  position: absolute;
  top: 25px;
  left: 70px;
  font-size: 16px;
  font-weight: normal;
  color: #AFAFAF;
  width: 100px;
}

.price__card p {
  display: block;
  margin-bottom: 16px;
}

.price__card a {
  display: inline-block;
  margin-top: 32px;
}

.price__card:hover {
  color: #ffffff;
  background-color: #02897A;
}

.price__card:hover span {
  color: #ffffff;
}

.price__card:hover a {
  color: #02897A;
  background-color: #ffffff;
}

.price__card:active {
  color: #ffffff;
  background-color: #02897A;
}

.price__card:active span {
  color: #ffffff;
}

.price__card:active a {
  color: #02897A;
  background-color: #ffffff;
}

.price__card:focus {
  color: #ffffff;
  background-color: #02897A;
}

.price__card:focus span {
  color: #ffffff;
}

.price__card:focus a {
  color: #02897A;
  background-color: #ffffff;
}

.price__card._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.join-us {
  position: relative;
  max-width: 968px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #02897A;
  border-radius: 32px;
  padding: 20px 50px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.join-us__text-wrapper {
  position: relative;
  max-width: 510px;
  margin-bottom: 40px;
  z-index: 1;
}

.join-us__img-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.join-us__text {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 60px;
}

.join-us__btn {
  color: #02897A;
  background-color: #ffffff;
}

@media (min-width: 767px) {
  .title {
    font-size: calc(24px + 8 * (100vw / 1120));
  }

  .text {
    font-size: calc(14px + 2 * (100vw / 1120));
  }

  .btn {
    font-size: calc(14px + 2 * (100vw / 1120));
  }

  .micro-title {
    font-size: calc(14px + 2 * (100vw / 1120));
  }

  .footer a {
    font-size: calc(14px + 2 * (100vw / 1120));
  }

  .footer__list-header a {
    font-size: calc(18px + 2 * (100vw / 1120));
  }

  .footer__sign-up h4 {
    font-size: calc(18px + 2 * (100vw / 1120));
  }

  .promo__title {
    font-size: calc(28px + 12 * (100vw / 1120));
  }

  .strategy__swiper-slide a {
    font-size: calc(18px + 6 * (100vw / 1120));
  }

  .join-us__text {
    font-size: calc(24px + 8 * (100vw / 1120));
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .description {
    margin-bottom: 90px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
    font-size: 16px;
  }

  .menu__icon {
    display: block;
    position: fixed;
    top: 25px;
    left: 85%;
    z-index: 30;
    border-radius: 50%;
    background-color: #02897A;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .menu__body {
    position: fixed;
    padding-top: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 80%;
    height: 100%;
    top: 0%;
    left: -150%;
    background-color: #EDFFFC;
    opacity: 0.9;
    z-index: 20;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 340px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0 auto;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    height: 100%;
  }

  .menu__list li {
    margin-bottom: 30px;
  }

  .menu__link {
    font-size: 32px;
  }

  .menu__body._active {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 20;
  }

  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__lists {
    display: none;
  }

  .block {
    display: block;
  }

  .promo {
    max-width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .promo {
    margin-bottom: 100px;
  }

  .promo__text-wrapper {
    margin-top: 100px;
  }

  .promo__img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .promo__img-wrapper img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }

  .description {
    margin-bottom: 55px;
  }

  .menegment {
    margin-bottom: 100px;
  }

  .menegment__img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .menegment__img-wrapper img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }

  .customer {
    margin-bottom: 100px;
  }

  .customer__img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .customer__img-wrapper img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }

  .customer__text-wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .collaborative {
    margin-bottom: 100px;
  }

  .collaborative__img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .collaborative__img-wrapper img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }

  .experts {
    margin-bottom: 100px;
  }

  .experts__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .experts__item {
    max-width: 395px;
  }

  .strategy {
    margin-bottom: 100px;
  }

  .price {
    margin-bottom: 100px;
  }

  .join-us {
    margin-bottom: 100px;
  }

  .join-us__img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .join-us__img-wrapper img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }

  .join-us__img-wrapper {
    display: none;
  }
}

@media (max-width: 776px) {
  .promo__text-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }

  .promo__title {
    color: white;
  }

  .promo__text {
    color: white;
  }

  .promo__img-wrapper {
    opacity: 0.7;
  }

  .menegment__text-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }

  .menegment__micro-title {
    color: white;
  }

  .menegment__title {
    color: white;
  }

  .menegment__text {
    color: white;
  }

  .menegment h4 {
    color: white;
  }

  .menegment__img-wrapper {
    opacity: 0.7;
  }

  .customer__img-wrapper {
    opacity: 0.7;
  }

  .customer__text-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }

  .customer__micro-title {
    color: white;
  }

  .customer__title {
    color: white;
  }

  .customer__text {
    color: white;
  }

  .customer__text-alt {
    color: white;
  }

  .collaborative__text-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }

  .collaborative__micro-title {
    color: white;
  }

  .collaborative h4 {
    color: white;
  }

  .collaborative__title {
    color: white;
  }

  .collaborative__text {
    color: white;
  }

  .collaborative__img-wrapper {
    opacity: 0.7;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 90%;
    padding: 15px;
    font-size: 12px;
  }

  .title {
    font-size: calc(24px + 13.6 * ((100vw - 320px) / 1120));
  }

  .text {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1120));
  }

  .btn {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1120));
  }

  .micro-title {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1120));
  }

  .menu__icon {
    top: 35px;
  }

  .footer a {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1120));
  }

  .footer__list-header a {
    font-size: calc(18px + 3.4 * ((100vw - 320px) / 1120));
  }

  .footer__sign-up h4 {
    font-size: calc(18px + 3.4 * ((100vw - 320px) / 1120));
  }

  .popup__content {
    padding: 20px;
    max-width: 660px;
  }

  .promo {
    margin-bottom: 60px;
  }

  .promo__title {
    font-size: calc(28px + 20.4 * ((100vw - 320px) / 1120));
  }

  .description__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .menegment {
    margin-bottom: 60px;
  }

  .customer {
    margin-bottom: 60px;
  }

  .collaborative {
    margin-bottom: 30px;
  }

  .experts {
    margin-bottom: 60px;
  }

  .strategy {
    margin-bottom: 60px;
  }

  .strategy__swiper-slide a {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1120));
  }

  .price {
    margin-bottom: 60px;
  }

  .join-us {
    margin-bottom: 60px;
  }

  .join-us__text {
    font-size: calc(24px + 13.6 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 692px) {
  .promo__popup._active {
    display: none;
  }
}

@media (max-width: 350px) {
  .menu__icon {
    left: 80%;
  }

  .menu__list {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .strategy__swiper-slide {
    max-width: 320px;
  }

  .strategy__swiper-slide img {
    width: 320px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}